* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: pink;
}

main {
  align-items: center;
  display: flex;
  justify-content: center;

  height: 100vh;
}

.dog {
  border-radius: 5px;
  border: 10px solid rgb(255, 255, 255);
  width: 700px;
  height: 700px;
  object-fit: cover;
}